@model List<Kitap>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Kitap Adı</td>
            <td>Yazar</td>
            <td>İşlemler</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var kitap in Model)
        {
            <tr>
                <td>@kitap.Id</td>
                <td>@kitap.KitapAdi</td>
                <td>@kitap.Yazar</td>
                <td>
                    <a class="btn btn-warning mx-2" asp-action="Update" >Update</a>
                    <a class="btn btn-danger" asp-action="Delete" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>