


<h4 class="display-3">Update Page Details</h4>
<div class="alert alert-danger">Bu sayfa şuan kullanılmamaktadır!</div>

<a asp-action="Index"  asp-controller="Home" class="btn btn-outline-info">Anasayfaya Dön</a>